:host {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block;
  background-color: var(--mat-sys-surface);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;

  &__nav {
    display: flex;
    gap: 3rem;

    &-btn {
      --mat-button-outlined-container-shape: 0.25rem;
      --mat-button-outlined-label-text-color: var(--mat-sys-primary);
      --mat-button-outlined-outline-color: var(--mat-sys-primary);
      padding-inline: 2rem;

      &--active {
        --mat-button-outlined-label-text-color: var(--mat-sys-on-primary);
        --mat-button-outlined-label-text-weight: 700;
        background-color: var(--mat-sys-primary);
      }
    }
  }
}
