.photo-detail-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 37.5rem;
    height: 37.5rem;
    object-fit: cover;
    display: block;
  }

  &__actions {
    margin-top: 1.5rem;
  }

  &__remove-btn {
    --mat-button-outlined-container-shape: 0.25rem;
    --mat-button-outlined-label-text-color: var(--mat-sys-error);
    --mat-button-outlined-outline-color: var(--mat-sys-error);
    padding-inline: 2rem;
  }
}
