<div class="photo-detail-view">
  <img
    class="photo-detail-view__image"
    [ngSrc]="photo().url"
    width="600"
    height="600"
    priority
    [alt]="'Photo by ' + (photo().author || 'unknown photographer')"
  />
  <div class="photo-detail-view__actions">
    <button
      mat-stroked-button
      class="photo-detail-view__remove-btn"
      [attr.aria-label]="'Remove photo by ' + (photo().author || 'unknown photographer') + ' from favorites'"
      (click)="removeClick.emit()"
    >
      Remove from favorites
    </button>
  </div>
</div>
